ClientTest/Service References/ContentServiceReference/ContentService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="KnowledgeAdventure.Service" elementFormDefault="qualified" targetNamespace="KnowledgeAdventure.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd2" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Avatar" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Inventory" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Staff" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Data" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.MicroTransaction" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.Model.Membership.Enumerations" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.ContentServer" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.Model.Authentication.Enumerations" />
  <xs:element name="GetAuthoritativeTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthoritativeTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthoritativeTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvatarByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvatarByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvatarByUserIDResult" nillable="true" type="AvatarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvatarDisplayDataByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvatarDisplayDataByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvatarDisplayDataByUserIDResult" nillable="true" type="AvatarDisplayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAvatar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q3:guid" />
        <xs:element minOccurs="0" name="avatarData" nillable="true" type="AvatarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAvatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAvatarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDisplayName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q4:guid" />
        <xs:element minOccurs="0" name="avatarID" type="xs:int" />
        <xs:element minOccurs="0" name="firstNameID" type="xs:int" />
        <xs:element minOccurs="0" name="secondNameID" type="xs:int" />
        <xs:element minOccurs="0" name="thirdNameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDisplayNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDisplayNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNickname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="otherID" type="q6:guid" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNicknameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Avatar" minOccurs="0" name="SetNicknameResult" type="q7:NicknameSetResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAvatarDisplayName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q8:guid" />
        <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAvatarDisplayNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAvatarDisplayNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="categoryID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="locale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDisplayNamesResult" nillable="true" type="DisplayNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayNameByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayNameByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDisplayNameByUserIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNicknames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q10:guid" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="otherID" nillable="true" type="q11:ArrayOfNullableOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNicknamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNicknamesResult" nillable="true" type="ArrayOfNn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayNamesByUserIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q12:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayNamesByUserIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetDisplayNamesByUserIDsResult" nillable="true" type="q13:ArrayOfKeyValuePairOfguidstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultAvatar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q14:guid" />
        <xs:element minOccurs="0" name="avatarData" nillable="true" type="AvatarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultAvatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDefaultAvatarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q15:guid" />
        <xs:element minOccurs="0" name="request" nillable="true" type="UserGradeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserGradeResult" nillable="true" type="SetUserGradeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserGradeResult" nillable="true" type="UG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserGradesByPGID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pgid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserGradesByPGIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllUserGradesByPGIDResult" nillable="true" type="ArrayOfUG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHouseByUserIDResult" nillable="true" type="HouseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q18:guid" />
        <xs:element minOccurs="0" name="houseData" nillable="true" type="HouseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetHouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q19:guid" />
        <xs:element minOccurs="0" name="imageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageSlot" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitImageResult" nillable="true" type="ImageSubmitResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageDataByProductGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q20:guid" />
        <xs:element minOccurs="0" name="imageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageSlot" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageDataByProductGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageDataByProductGroupResult" nillable="true" type="ImageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q21:guid" />
        <xs:element minOccurs="0" name="imageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageSlot" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageResult" nillable="true" type="ImageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByProductGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q22:guid" />
        <xs:element minOccurs="0" name="imageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageSlot" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByProductGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageByProductGroupResult" nillable="true" type="ArrayOfImageDataComplete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q23:guid" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentID" type="q24:guid" />
        <xs:element minOccurs="0" name="imageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageSlot" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="imageFile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="imageData" nillable="true" type="ImageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImageWithImageUrlReturned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentID" type="q26:guid" />
        <xs:element minOccurs="0" name="imageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageSlot" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="imageFile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="imageData" nillable="true" type="ImageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImageWithImageUrlReturnedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetImageWithImageUrlReturnedResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="imageUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q27:guid" />
        <xs:element minOccurs="0" name="imageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageSlot" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CacheContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q28:guid" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentID" type="q29:guid" />
        <xs:element minOccurs="0" name="fileCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CacheContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CacheContentResult" nillable="true" type="CacheContentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevealIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevealIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRevealIndexResult" nillable="true" type="RevealData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevealIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q31:guid" />
        <xs:element minOccurs="0" name="revealData" nillable="true" type="RevealData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevealIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRevealIndexResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresentIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresentIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPresentIndexResult" nillable="true" type="PresentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPresentIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q33:guid" />
        <xs:element minOccurs="0" name="presentData" nillable="true" type="PresentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPresentIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPresentIndexResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInventoryResult" nillable="true" type="InventoryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q35:guid" />
        <xs:element minOccurs="0" name="inventoryData" nillable="true" type="InventoryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetInventoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q36:guid" />
        <xs:element minOccurs="0" name="ContainerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCommonInventoryResult" nillable="true" type="CommonInventory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommonInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q37:guid" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="commonInventoryRequests" nillable="true" type="ArrayOfCIRT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommonInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCommonInventoryResult" nillable="true" type="CIRS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="containerID" type="xs:int" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q38:guid" />
        <xs:element minOccurs="0" name="myInventoryItemID" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="otherUserID" type="q39:guid" />
        <xs:element minOccurs="0" name="otherInventoryItemID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptTradeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRewardItemToInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="containerID" type="xs:int" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q40:guid" />
        <xs:element minOccurs="0" name="itemID" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRewardItemToInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRewardItemToInventoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q41:guid" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
        <xs:element minOccurs="0" name="storeID" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIDs" nillable="true" type="q42:ArrayOfint" />
        <xs:element minOccurs="0" name="currencyType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseItemsResult" nillable="true" type="CIRS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q43:guid" />
        <xs:element minOccurs="0" name="containerID" type="xs:int" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userInventoryCommonIDs" nillable="true" type="q44:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SellItemsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userInventoryId" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfUses" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UseInventoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseInventoryAndGetMultiplierRewards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userInventoryId" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfUses" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseInventoryAndGetMultiplierRewardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UseInventoryAndGetMultiplierRewardsResult" nillable="true" type="ArrayOfARM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q45:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserItemPositionsResult" nillable="true" type="ArrayOfUIP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserItemPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q46:guid" />
        <xs:element minOccurs="0" name="createList" nillable="true" type="ArrayOfUIPSR" />
        <xs:element minOccurs="0" name="updateList" nillable="true" type="ArrayOfUIPSR" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="removeList" nillable="true" type="q47:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserItemPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserItemPositionsResult" nillable="true" type="UIPSRS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoomItemPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q48:guid" />
        <xs:element minOccurs="0" name="roomID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoomItemPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserRoomItemPositionsResult" nillable="true" type="ArrayOfUIP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserRoomItemPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q49:guid" />
        <xs:element minOccurs="0" name="createList" nillable="true" type="ArrayOfUIPSR" />
        <xs:element minOccurs="0" name="updateList" nillable="true" type="ArrayOfUIPSR" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="removeList" nillable="true" type="q50:ArrayOfint" />
        <xs:element minOccurs="0" name="roomID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserRoomItemPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserRoomItemPositionsResult" nillable="true" type="UIPSRS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTimedItemByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q51:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTimedItemByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserTimedItemByUserIDResult" nillable="true" type="ArrayOfUTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserTimedItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="input" nillable="true" type="UTI" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Inventory" minOccurs="0" name="flag" type="q52:UserTimedItemFlag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserTimedItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserTimedItemResult" nillable="true" type="UTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserTimedItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTimedItemID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserTimedItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserTimedItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="input" nillable="true" type="US" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Staff" minOccurs="0" name="flag" type="q53:UserStaffFlag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserStaffResult" nillable="true" type="US" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStaffByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q54:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStaffByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserStaffByUserIDResult" nillable="true" type="ArrayOfUS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanupUserStaffByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q55:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanupUserStaffByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CleanupUserStaffByUserIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobTypeListResult" nillable="true" type="ArrayOfJT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserGiftRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="UGR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserGiftRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserGiftRequestResult" nillable="true" type="UGR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserGiftRecipient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="UGRE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserGiftRecipientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserGiftRecipientResult" nillable="true" type="UGRE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGiftRequestByGiftRequestKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="input" type="q56:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGiftRequestByGiftRequestKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserGiftRequestByGiftRequestKeyResult" nillable="true" type="UGR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q57:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserActivityByUserIDResult" nillable="true" type="ArrayOfUA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityByProductGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q58:guid" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityByProductGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserActivityByProductGroupIDResult" nillable="true" type="ArrayOfUA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityCountByUserActivityTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q59:guid" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="userActivityTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityCountByUserActivityTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserActivityCountByUserActivityTypeIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActivityTypeListResult" nillable="true" type="ArrayOfUAT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="UA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserActivityResult" nillable="true" type="UA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserActivityByProductGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="UA" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserActivityByProductGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserActivityByProductGroupIDResult" nillable="true" type="UA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyValuePair">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q60:guid" />
        <xs:element minOccurs="0" name="pairId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyValuePairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKeyValuePairResult" nillable="true" type="Pairs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKeyValuePair">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q61:guid" />
        <xs:element minOccurs="0" name="pairId" type="xs:int" />
        <xs:element minOccurs="0" name="pairs" nillable="true" type="Pairs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKeyValuePairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetKeyValuePairResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelKeyValuePair">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q62:guid" />
        <xs:element minOccurs="0" name="pairId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelKeyValuePairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelKeyValuePairResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelKeyValuePairByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q63:guid" />
        <xs:element minOccurs="0" name="pairId" type="xs:int" />
        <xs:element minOccurs="0" name="pairKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelKeyValuePairByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelKeyValuePairByKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelKeyValuePairByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q64:guid" />
        <xs:element minOccurs="0" name="pairId" type="xs:int" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pairKeys" nillable="true" type="q65:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelKeyValuePairByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelKeyValuePairByKeysResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferGuestKeyValuePair">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guestuserID" type="q66:guid" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentuserId" type="q67:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferGuestKeyValuePairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferGuestKeyValuePairResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonMastery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q68:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonMasteryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLessonMasteryResult" nillable="true" type="MasteryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLessonMastery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q69:guid" />
        <xs:element minOccurs="0" name="masteryData" nillable="true" type="MasteryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLessonMasteryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLessonMasteryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLessonStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q70:guid" />
        <xs:element minOccurs="0" name="lessonData" nillable="true" type="LessonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLessonStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLessonStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopUsersByCorrectAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Data" minOccurs="0" name="dateRange" type="q71:DateRange" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopUsersByCorrectAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTopUsersByCorrectAnswerResult" nillable="true" type="ArrayOfLessonRankData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q72:guid" />
        <xs:element minOccurs="0" name="worldId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserMissionResult" nillable="true" type="UserMissionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserMission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q73:guid" />
        <xs:element minOccurs="0" name="worldId" type="xs:int" />
        <xs:element minOccurs="0" name="missionId" type="xs:int" />
        <xs:element minOccurs="0" name="stepId" type="xs:int" />
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserMissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserMissionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserMissionComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q74:guid" />
        <xs:element minOccurs="0" name="worldId" type="xs:int" />
        <xs:element minOccurs="0" name="missionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserMissionCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserMissionCompleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPetByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q75:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPetByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentPetByUserIDResult" nillable="true" type="PetData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdoptedPetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q76:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdoptedPetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAdoptedPetDataResult" nillable="true" type="PetData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentPetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q77:guid" />
        <xs:element minOccurs="0" name="petData" nillable="true" type="PetData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentPetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCurrentPetDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAdoptedPet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q78:guid" />
        <xs:element minOccurs="0" name="petData" nillable="true" type="PetData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAdoptedPetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAdoptedPetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCurrentPet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q79:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCurrentPetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCurrentPetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q80:guid" />
        <xs:element minOccurs="0" name="subscriptionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductResult" nillable="true" type="ProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPlatformMap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPlatformMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductPlatformMapResult" nillable="true" type="ArrayOfProductPlatform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q81:guid" />
        <xs:element minOccurs="0" name="productData" nillable="true" type="ProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductGroupIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSceneByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q82:guid" />
        <xs:element minOccurs="0" name="sceneName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSceneByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSceneByUserIDResult" nillable="true" type="SceneData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetScene">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q83:guid" />
        <xs:element minOccurs="0" name="sceneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sceneData" nillable="true" type="SceneData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSceneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSceneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBadgeComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q84:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBadgeCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserBadgeCompleteResult" nillable="true" type="UserBadge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserBadgeComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q85:guid" />
        <xs:element minOccurs="0" name="badgeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserBadgeCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserBadgeCompleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTreasureChest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q86:guid" />
        <xs:element minOccurs="0" name="sceneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTreasureChestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserTreasureChestResult" nillable="true" type="UserTreasureChestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserTreasureChest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q87:guid" />
        <xs:element minOccurs="0" name="sceneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userTreasureChestData" nillable="true" type="UserTreasureChestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserTreasureChestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserTreasureChestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserChestFound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q88:guid" />
        <xs:element minOccurs="0" name="sceneName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chestName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserChestFoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserChestFoundResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracksByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" type="xs:int" />
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q89:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracksByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTracksByUserIDResult" nillable="true" type="ArrayOfTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracksByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackIDs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracksByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTracksByIDsResult" nillable="true" type="ArrayOfTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackElementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrackElementsResult" nillable="true" type="ArrayOfTE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserWithoutTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDS" nillable="true" type="q90:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserWithoutTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RemoveUserWithoutTrackResult" nillable="true" type="q91:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackSetRequest" nillable="true" type="UT" />
        <xs:element minOccurs="0" name="imageFile" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentID" type="q92:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTrackResult" nillable="true" type="TI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTrackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseGift">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q93:guid" />
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="receiverUserID" type="q94:guid" />
        <xs:element minOccurs="0" name="itemID" type="xs:int" />
        <xs:element minOccurs="0" name="containerID" type="xs:int" />
        <xs:element minOccurs="0" name="storeID" type="xs:int" />
        <xs:element minOccurs="0" name="currencyType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseGiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseGiftResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftsReceivedByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q95:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftsReceivedByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.MicroTransaction" minOccurs="0" name="GetGiftsReceivedByUserIDResult" nillable="true" type="q96:ArrayOfGiftTransactionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q97:guid" />
        <xs:element minOccurs="0" name="achievementID" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UseTicketsResult" nillable="true" type="ArrayOfAR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllProductsResult" nillable="true" type="ArrayOfProductItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDisplayNameUnique">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDisplayNameUniqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDisplayNameUniqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUniqueDisplayName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUniqueDisplayNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUniqueDisplayNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUniqueDisplayName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="displayNames" nillable="true" type="q98:ArrayOfstring" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUniqueDisplayNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveUniqueDisplayNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextItemState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setNextItemStateRequest" nillable="true" type="SetNextItemStateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextItemStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNextItemStateResult" nillable="true" type="SetNextItemStateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSpeedUpItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setSpeedUpItemRequest" nillable="true" type="SetSpeedUpItemRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSpeedUpItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSpeedUpItemResult" nillable="true" type="SetSpeedUpItemResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteProfileRequest" nillable="true" type="DeleteProfileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.Model.Membership.Enumerations" minOccurs="0" name="DeleteProfileResult" type="q99:DeleteProfileStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.ContentServer" minOccurs="0" name="nameValidationRequest" nillable="true" type="q100:NameValidationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateNameResult" nillable="true" type="NameValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptionProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q101:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptionProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserSubscriptionProviderResult" nillable="true" type="USP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByExternalUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalAppID" nillable="true" type="xs:string" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.Model.Authentication.Enumerations" minOccurs="0" name="externalAuthProvider" type="q102:ExternalAuthProvider" />
        <xs:element minOccurs="0" name="productFamilyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByExternalUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetUserByExternalUserIDResult" nillable="true" type="q103:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommonInventoryAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commonInventoryId" type="xs:int" />
        <xs:element minOccurs="0" name="useritemAttributes" nillable="true" type="Pairs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommonInventoryAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCommonInventoryAttributeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>