ClientTest/Service References/ContentServiceReference/ContentService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Data" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.Model.Membership.Enumerations" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.Model.Authentication.Enumerations" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Image" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ItemStore.Model.Items" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://svc.qa.jumpstart.com/ContentServer/ContentService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Inventory" />
  <xs:complexType name="AvatarData">
    <xs:sequence>
      <xs:element name="AvatarDataPart" nillable="true" type="ArrayOfAvatarDataPart" />
      <xs:element name="DisplayName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Data" minOccurs="0" name="Gender" type="q1:GD" />
      <xs:element name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuggestedAvatarName" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UTD" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidateDisplayName" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarData" nillable="true" type="AvatarData" />
  <xs:complexType name="ArrayOfAvatarDataPart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvatarDataPart" nillable="true" type="AvatarDataPart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvatarDataPart" nillable="true" type="ArrayOfAvatarDataPart" />
  <xs:complexType name="AvatarDataPart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attributes" nillable="true" type="ArrayOfAttribute" />
      <xs:element name="Geometries" nillable="true" type="ArrayOfGeometry" />
      <xs:element name="Offsets" nillable="true" type="ArrayOfOffset" />
      <xs:element name="PartType" nillable="true" type="xs:string" />
      <xs:element name="Textures" nillable="true" type="ArrayOfTexture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarDataPart" nillable="true" type="AvatarDataPart" />
  <xs:complexType name="ArrayOfAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" nillable="true" type="Attribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttribute" nillable="true" type="ArrayOfAttribute" />
  <xs:complexType name="Attribute">
    <xs:sequence>
      <xs:element name="K" nillable="true" type="xs:string" />
      <xs:element name="V" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attribute" nillable="true" type="Attribute" />
  <xs:complexType name="ArrayOfGeometry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Geometry" nillable="true" type="Geometry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeometry" nillable="true" type="ArrayOfGeometry" />
  <xs:complexType name="Geometry">
    <xs:sequence>
      <xs:element name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Geometry" nillable="true" type="Geometry" />
  <xs:complexType name="ArrayOfOffset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Offset" nillable="true" type="Offset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOffset" nillable="true" type="ArrayOfOffset" />
  <xs:complexType name="Offset">
    <xs:sequence>
      <xs:element name="X" nillable="true" type="xs:string" />
      <xs:element name="Y" nillable="true" type="xs:string" />
      <xs:element name="Z" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Offset" nillable="true" type="Offset" />
  <xs:complexType name="ArrayOfTexture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Texture" nillable="true" type="Texture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTexture" nillable="true" type="ArrayOfTexture" />
  <xs:complexType name="Texture">
    <xs:sequence>
      <xs:element name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Texture" nillable="true" type="Texture" />
  <xs:complexType name="AvatarDisplayData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AchievementInfo" nillable="true" type="UAI" />
      <xs:element minOccurs="0" name="Achievements" nillable="true" type="ArrayOfUAI" />
      <xs:element name="AvatarData" nillable="true" type="AvatarData" />
      <xs:element name="RankID" type="xs:int" />
      <xs:element minOccurs="0" name="RewardMultipliers" nillable="true" type="ArrayOfARM" />
      <xs:element name="UserInfo" nillable="true" type="UserInfo" />
      <xs:element name="UserSubscriptionInfo" nillable="true" type="USI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarDisplayData" nillable="true" type="AvatarDisplayData" />
  <xs:complexType name="UAI">
    <xs:sequence>
      <xs:element minOccurs="0" name="FBUID" nillable="true" type="xs:long" />
      <xs:element name="a" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="m" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="n" nillable="true" type="xs:string" />
      <xs:element name="p" nillable="true" type="xs:int" />
      <xs:element name="r" type="xs:int" />
      <xs:element name="u" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UAI" nillable="true" type="UAI" />
  <xs:complexType name="ArrayOfUAI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UAI" nillable="true" type="UAI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUAI" nillable="true" type="ArrayOfUAI" />
  <xs:complexType name="ArrayOfARM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ARM" nillable="true" type="ARM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfARM" nillable="true" type="ArrayOfARM" />
  <xs:complexType name="ARM">
    <xs:sequence>
      <xs:element name="MET" type="xs:dateTime" />
      <xs:element name="MF" type="xs:int" />
      <xs:element name="PT" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ARM" nillable="true" type="ARM" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContentSubmissionEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FacebookUserID" type="xs:long" />
      <xs:element minOccurs="0" name="FacebookUserMap" nillable="true" type="ArrayOfUserFacebookUserMap" />
      <xs:element name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.Model.Membership.Enumerations" minOccurs="0" name="GenderID" nillable="true" type="q2:GD" />
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element name="MembershipID" nillable="true" type="ser:guid" />
      <xs:element name="MultiplayerEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Olid" nillable="true" type="xs:string" />
      <xs:element name="ParentUserID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" nillable="true" type="xs:dateTime" />
      <xs:element name="UserID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="UserIntID" type="xs:int" />
      <xs:element name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oce" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="UserInfo" />
  <xs:complexType name="ArrayOfUserFacebookUserMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserFacebookUserMap" nillable="true" type="UserFacebookUserMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserFacebookUserMap" nillable="true" type="ArrayOfUserFacebookUserMap" />
  <xs:complexType name="UserFacebookUserMap">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.Model.Authentication.Enumerations" minOccurs="0" name="ExternalAuthProvider" nillable="true" type="q3:ExternalAuthProvider" />
      <xs:element minOccurs="0" name="FBAppID" nillable="true" type="xs:long" />
      <xs:element name="FacebookUserID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProductFamilyID" nillable="true" type="xs:int" />
      <xs:element name="UserFacebookUserMapID" nillable="true" type="xs:long" />
      <xs:element name="UserID" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserFacebookUserMap" nillable="true" type="UserFacebookUserMap" />
  <xs:complexType name="USI">
    <xs:complexContent mixed="false">
      <xs:extension base="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="PID" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="USI" nillable="true" type="USI" />
  <xs:complexType name="SubscriptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillFrequency" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="CardExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CardReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastBillDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MembershipID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProfileCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecurringAmount" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element name="SubscriptionDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriptionEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubscriptionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SubscriptionPlanID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SubscriptionProvider" nillable="true" type="USP" />
      <xs:element name="SubscriptionTypeID" nillable="true" type="xs:int" />
      <xs:element name="UserID" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionInfo" nillable="true" type="SubscriptionInfo" />
  <xs:complexType name="USP">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string" />
      <xs:element name="MembershipPurchaseAllowed" type="xs:boolean" />
      <xs:element name="ProductID" type="xs:int" />
      <xs:element name="Provider" type="xs:int" />
      <xs:element name="ReceiptData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring" type="xs:boolean" />
      <xs:element name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USP" nillable="true" type="USP" />
  <xs:complexType name="DisplayNames">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisplayName" nillable="true" type="DisplayName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayNames" nillable="true" type="DisplayNames" />
  <xs:complexType name="DisplayName">
    <xs:sequence>
      <xs:element name="DisplayNameID" nillable="true" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Ordinal" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayName" nillable="true" type="DisplayName" />
  <xs:complexType name="ArrayOfNn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nn" nillable="true" type="Nn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNn" nillable="true" type="ArrayOfNn" />
  <xs:complexType name="Nn">
    <xs:sequence>
      <xs:element name="ID" type="ser:guid" />
      <xs:element name="N" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nn" nillable="true" type="Nn" />
  <xs:complexType name="UserGradeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="Lock" nillable="true" type="xs:boolean" />
      <xs:element name="UserID" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserGradeRequest" nillable="true" type="UserGradeRequest" />
  <xs:complexType name="SetUserGradeResult">
    <xs:sequence>
      <xs:element name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetUserGradeResult" nillable="true" type="SetUserGradeResult" />
  <xs:complexType name="UG">
    <xs:sequence>
      <xs:element minOccurs="0" name="UGID" type="xs:int" />
      <xs:element minOccurs="0" name="UGL" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UGN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UG" nillable="true" type="UG" />
  <xs:complexType name="ArrayOfUG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UG" nillable="true" type="UG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUG" nillable="true" type="ArrayOfUG" />
  <xs:complexType name="HouseData">
    <xs:sequence>
      <xs:element name="Part" nillable="true" type="ArrayOfHouseDataPart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseData" nillable="true" type="HouseData" />
  <xs:complexType name="ArrayOfHouseDataPart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseDataPart" nillable="true" type="HouseDataPart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseDataPart" nillable="true" type="ArrayOfHouseDataPart" />
  <xs:complexType name="HouseDataPart">
    <xs:sequence>
      <xs:element name="PartNames" nillable="true" type="xs:string" />
      <xs:element name="PartTypes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseDataPart" nillable="true" type="HouseDataPart" />
  <xs:complexType name="ImageSubmitResult">
    <xs:sequence>
      <xs:element name="ContestDuration" type="xs:int" />
      <xs:element name="ContestStartDate" type="xs:dateTime" />
      <xs:element name="ImageSubmitStatus" type="ImageSubmitStatus" />
      <xs:element name="ImageURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageSubmitResult" nillable="true" type="ImageSubmitResult" />
  <xs:simpleType name="ImageSubmitStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Submitted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AlreadySubmitted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ImageNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnknownError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">255</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ImageSubmitStatus" nillable="true" type="ImageSubmitStatus" />
  <xs:complexType name="ImageData">
    <xs:sequence>
      <xs:element name="Border" nillable="true" type="xs:string" />
      <xs:element name="Decal" nillable="true" type="ArrayOfImageDataDecal" />
      <xs:element name="ImageURL" nillable="true" type="xs:string" />
      <xs:element name="PhotoFrame" nillable="true" type="xs:string" />
      <xs:element name="PhotoFrameMask" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S3Image" nillable="true" type="S3Image" />
      <xs:element name="SubType" nillable="true" type="xs:string" />
      <xs:element name="TemplateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageData" nillable="true" type="ImageData" />
  <xs:complexType name="ArrayOfImageDataDecal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageDataDecal" nillable="true" type="ImageDataDecal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageDataDecal" nillable="true" type="ArrayOfImageDataDecal" />
  <xs:complexType name="ImageDataDecal">
    <xs:sequence>
      <xs:element name="Height" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Position" nillable="true" type="ImageDataDecalPosition" />
      <xs:element name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageDataDecal" nillable="true" type="ImageDataDecal" />
  <xs:complexType name="ImageDataDecalPosition">
    <xs:sequence>
      <xs:element name="X" type="xs:int" />
      <xs:element name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageDataDecalPosition" nillable="true" type="ImageDataDecalPosition" />
  <xs:complexType name="S3Image">
    <xs:sequence>
      <xs:element name="BaseImageURL" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Image" name="S3WriteResult" type="q4:S3WriteResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S3Image" nillable="true" type="S3Image" />
  <xs:complexType name="ArrayOfImageDataComplete">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageDataComplete" nillable="true" type="ImageDataComplete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageDataComplete" nillable="true" type="ArrayOfImageDataComplete" />
  <xs:complexType name="ImageDataComplete">
    <xs:complexContent mixed="false">
      <xs:extension base="ImageData">
        <xs:sequence>
          <xs:element name="ProductID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageDataComplete" nillable="true" type="ImageDataComplete" />
  <xs:complexType name="CacheContentResult">
    <xs:sequence>
      <xs:element name="Success" type="xs:boolean" />
      <xs:element name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CacheContentResult" nillable="true" type="CacheContentResult" />
  <xs:complexType name="RevealData">
    <xs:sequence>
      <xs:element name="Index" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RevealData" nillable="true" type="RevealData" />
  <xs:complexType name="PresentData">
    <xs:sequence>
      <xs:element name="Index" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PresentData" nillable="true" type="PresentData" />
  <xs:complexType name="InventoryData">
    <xs:sequence>
      <xs:element name="Item" nillable="true" type="ArrayOfInventoryDataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryData" nillable="true" type="InventoryData" />
  <xs:complexType name="ArrayOfInventoryDataItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryDataItem" nillable="true" type="InventoryDataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryDataItem" nillable="true" type="ArrayOfInventoryDataItem" />
  <xs:complexType name="InventoryDataItem">
    <xs:sequence>
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryDataItem" nillable="true" type="InventoryDataItem" />
  <xs:complexType name="CommonInventory">
    <xs:sequence>
      <xs:element name="Items" nillable="true" type="ArrayOfUserItem" />
      <xs:element name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonInventory" nillable="true" type="CommonInventory" />
  <xs:complexType name="ArrayOfUserItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserItem" nillable="true" type="UserItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserItem" nillable="true" type="ArrayOfUserItem" />
  <xs:complexType name="UserItem">
    <xs:sequence>
      <xs:element name="Item" nillable="true" type="Item" />
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element name="Quantity" type="xs:int" />
      <xs:element name="UserInventoryID" type="xs:int" />
      <xs:element name="Uses" type="xs:int" />
      <xs:element minOccurs="0" name="uia" nillable="true" type="Pairs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserItem" nillable="true" type="UserItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="AllowStacking" type="xs:boolean" />
      <xs:element name="AssetName" nillable="true" type="xs:string" />
      <xs:element name="Attribute" nillable="true" type="ArrayOfItemAttribute" />
      <xs:element name="CashCost" type="xs:int" />
      <xs:element name="Category" nillable="true" type="ArrayOfItemCategory" />
      <xs:element name="Cost" type="xs:int" />
      <xs:element name="CreativePoints" type="xs:int" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Geometry2" nillable="true" type="xs:string" />
      <xs:element name="IconName" nillable="true" type="xs:string" />
      <xs:element name="InventoryMax" type="xs:int" />
      <xs:element name="ItemID" type="xs:int" />
      <xs:element name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNamePlural" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemStates" nillable="true" type="ArrayOfItemState" />
      <xs:element name="Locked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Points" nillable="true" type="xs:int" />
      <xs:element name="RankId" nillable="true" type="xs:int" />
      <xs:element name="RefillFactor" type="xs:int" />
      <xs:element name="Relationship" nillable="true" type="ArrayOfItemRelationship" />
      <xs:element name="Rollover" nillable="true" type="ItemRollover" />
      <xs:element name="SaleFactor" type="xs:int" />
      <xs:element name="Stackable" type="xs:boolean" />
      <xs:element name="Texture" nillable="true" type="ArrayOfItemTexture" />
      <xs:element name="Uses" type="xs:int" />
      <xs:element minOccurs="0" name="rtID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="Item" />
  <xs:complexType name="ArrayOfItemAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemAttribute" nillable="true" type="ItemAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemAttribute" nillable="true" type="ArrayOfItemAttribute" />
  <xs:complexType name="ItemAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      <xs:element name="Key" nillable="true" type="xs:string" />
      <xs:element name="Type" nillable="true" type="xs:string" />
      <xs:element name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemAttribute" nillable="true" type="ItemAttribute" />
  <xs:complexType name="ArrayOfItemCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemCategory" nillable="true" type="ItemCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemCategory" nillable="true" type="ArrayOfItemCategory" />
  <xs:complexType name="ItemCategory">
    <xs:sequence>
      <xs:element name="CategoryId" type="xs:int" />
      <xs:element name="CategoryName" nillable="true" type="xs:string" />
      <xs:element name="IconName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemCategory" nillable="true" type="ItemCategory" />
  <xs:complexType name="ArrayOfItemState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemState" nillable="true" type="ItemState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemState" nillable="true" type="ArrayOfItemState" />
  <xs:complexType name="ItemState">
    <xs:sequence>
      <xs:element minOccurs="0" name="AchievementID" nillable="true" type="xs:int" />
      <xs:element name="ItemStateID" type="xs:int" />
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Rewards" nillable="true" type="ArrayOfAR" />
      <xs:element name="Rule" nillable="true" type="ItemStateRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemState" nillable="true" type="ItemState" />
  <xs:complexType name="ArrayOfAR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AR" nillable="true" type="AR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAR" nillable="true" type="ArrayOfAR" />
  <xs:complexType name="AR">
    <xs:sequence>
      <xs:element name="a" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ai" type="xs:int" />
      <xs:element minOccurs="0" name="amulti" type="xs:boolean" />
      <xs:element minOccurs="0" name="d" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="i" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ii" type="xs:int" />
      <xs:element minOccurs="0" name="maxa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mina" nillable="true" type="xs:int" />
      <xs:element name="p" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="r" type="xs:int" />
      <xs:element minOccurs="0" name="t" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AR" nillable="true" type="AR" />
  <xs:complexType name="ItemStateRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompletionAction" nillable="true" type="CompletionAction" />
      <xs:element name="Criterias" nillable="true" type="ArrayOfItemStateCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemStateRule" nillable="true" type="ItemStateRule" />
  <xs:complexType name="CompletionAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AchievementCompletion" nillable="true" type="ArrayOfAchievementCompletion" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ItemStore.Model.Items" name="Transition" type="q5:StateTransition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompletionAction" nillable="true" type="CompletionAction" />
  <xs:complexType name="ArrayOfAchievementCompletion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AchievementCompletion" nillable="true" type="AchievementCompletion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAchievementCompletion" nillable="true" type="ArrayOfAchievementCompletion" />
  <xs:complexType name="AchievementCompletion">
    <xs:sequence>
      <xs:element minOccurs="0" name="AchievementID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AchievementCompletion" nillable="true" type="AchievementCompletion" />
  <xs:complexType name="ArrayOfItemStateCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemStateCriteria" nillable="true" type="ItemStateCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemStateCriteria" nillable="true" type="ArrayOfItemStateCriteria" />
  <xs:complexType name="ItemStateCriteria">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ItemStore.Model.Items" name="Type" type="q6:ItemStateCriteriaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemStateCriteria" nillable="true" type="ItemStateCriteria" />
  <xs:complexType name="ItemStateCriteriaExpiry">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemStateCriteria">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndStateID" type="xs:int" />
          <xs:element name="Period" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemStateCriteriaExpiry" nillable="true" type="ItemStateCriteriaExpiry" />
  <xs:complexType name="ItemStateCriteriaLength">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemStateCriteria">
        <xs:sequence>
          <xs:element name="Period" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemStateCriteriaLength" nillable="true" type="ItemStateCriteriaLength" />
  <xs:complexType name="ItemStateCriteriaConsumable">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemStateCriteria">
        <xs:sequence>
          <xs:element name="Amount" type="xs:int" />
          <xs:element name="ConsumeUses" type="xs:boolean" />
          <xs:element name="ItemID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemStateCriteriaConsumable" nillable="true" type="ItemStateCriteriaConsumable" />
  <xs:complexType name="ItemStateCriteriaReplenishable">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemStateCriteria">
        <xs:sequence>
          <xs:element name="ApplyRank" type="xs:boolean" />
          <xs:element minOccurs="0" name="PointTypeID" nillable="true" type="xs:int" />
          <xs:element name="ReplenishableRates" nillable="true" type="ArrayOfReplenishableRate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemStateCriteriaReplenishable" nillable="true" type="ItemStateCriteriaReplenishable" />
  <xs:complexType name="ArrayOfReplenishableRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReplenishableRate" nillable="true" type="ReplenishableRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReplenishableRate" nillable="true" type="ArrayOfReplenishableRate" />
  <xs:complexType name="ReplenishableRate">
    <xs:sequence>
      <xs:element name="MaxUses" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:int" />
      <xs:element name="Rate" type="xs:double" />
      <xs:element name="Uses" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReplenishableRate" nillable="true" type="ReplenishableRate" />
  <xs:complexType name="ItemStateCriteriaSpeedUpItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemStateCriteria">
        <xs:sequence>
          <xs:element name="Amount" type="xs:int" />
          <xs:element name="ChangeState" type="xs:boolean" />
          <xs:element name="ConsumeUses" type="xs:boolean" />
          <xs:element minOccurs="0" name="EndStateID" type="xs:int" />
          <xs:element name="ItemID" type="xs:int" />
          <xs:element minOccurs="0" name="ProcessRewards" type="xs:boolean" />
          <xs:element minOccurs="0" name="SpeedUpCapacity" type="xs:int" />
          <xs:element minOccurs="0" name="SpeedUpUses" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItemStateCriteriaSpeedUpItem" nillable="true" type="ItemStateCriteriaSpeedUpItem" />
  <xs:complexType name="ArrayOfItemRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemRelationship" nillable="true" type="ItemRelationship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemRelationship" nillable="true" type="ArrayOfItemRelationship" />
  <xs:complexType name="ItemRelationship">
    <xs:sequence>
      <xs:element name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="q" type="xs:int" />
      <xs:element minOccurs="0" name="wt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemRelationship" nillable="true" type="ItemRelationship" />
  <xs:complexType name="ItemRollover">
    <xs:sequence>
      <xs:element name="Bundle" nillable="true" type="xs:string" />
      <xs:element name="DialogName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemRollover" nillable="true" type="ItemRollover" />
  <xs:complexType name="ArrayOfItemTexture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemTexture" nillable="true" type="ItemTexture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemTexture" nillable="true" type="ArrayOfItemTexture" />
  <xs:complexType name="ItemTexture">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      <xs:element name="OffsetX" nillable="true" type="xs:float" />
      <xs:element name="OffsetY" nillable="true" type="xs:float" />
      <xs:element name="TextureName" nillable="true" type="xs:string" />
      <xs:element name="TextureTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemTexture" nillable="true" type="ItemTexture" />
  <xs:complexType name="StoreItem">
    <xs:complexContent mixed="false">
      <xs:extension base="Item">
        <xs:sequence>
          <xs:element minOccurs="0" name="Availability" nillable="true" type="Availability" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoreItem" nillable="true" type="StoreItem" />
  <xs:complexType name="Availability">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Availability" nillable="true" type="Availability" />
  <xs:complexType name="Pairs">
    <xs:sequence>
      <xs:element name="Items" nillable="true" type="ArrayOfPairsPair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pairs" nillable="true" type="Pairs" />
  <xs:complexType name="ArrayOfPairsPair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PairsPair" nillable="true" type="PairsPair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPairsPair" nillable="true" type="ArrayOfPairsPair" />
  <xs:complexType name="PairsPair">
    <xs:sequence>
      <xs:element name="PairKey" nillable="true" type="xs:string" />
      <xs:element name="PairValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PairsPair" nillable="true" type="PairsPair" />
  <xs:complexType name="ArrayOfCIRT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CIRT" nillable="true" type="CIRT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCIRT" nillable="true" type="ArrayOfCIRT" />
  <xs:complexType name="CIRT">
    <xs:sequence>
      <xs:element name="cid" nillable="true" type="xs:int" />
      <xs:element name="iid" nillable="true" type="xs:int" />
      <xs:element name="q" type="xs:int" />
      <xs:element minOccurs="0" name="u" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="uia" nillable="true" type="Pairs" />
      <xs:element minOccurs="0" name="uipid" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CIRT" nillable="true" type="CIRT" />
  <xs:complexType name="CIRS">
    <xs:sequence>
      <xs:element name="cids" nillable="true" type="ArrayOfCIRI" />
      <xs:element minOccurs="0" name="pir" nillable="true" type="ArrayOfpir" />
      <xs:element name="s" type="xs:boolean" />
      <xs:element minOccurs="0" name="ugc" nillable="true" type="UGC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CIRS" nillable="true" type="CIRS" />
  <xs:complexType name="ArrayOfCIRI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CIRI" nillable="true" type="CIRI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCIRI" nillable="true" type="ArrayOfCIRI" />
  <xs:complexType name="CIRI">
    <xs:sequence>
      <xs:element name="cid" type="xs:int" />
      <xs:element name="iid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CIRI" nillable="true" type="CIRI" />
  <xs:complexType name="ArrayOfpir">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pir" nillable="true" type="pir" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpir" nillable="true" type="ArrayOfpir" />
  <xs:complexType name="pir">
    <xs:sequence>
      <xs:element minOccurs="0" name="i" type="xs:int" />
      <xs:element minOccurs="0" name="pi" type="xs:int" />
      <xs:element minOccurs="0" name="pis" nillable="true" type="ArrayOfItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pir" nillable="true" type="pir" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="ArrayOfItem" />
  <xs:complexType name="UGC">
    <xs:sequence>
      <xs:element name="cc" nillable="true" type="xs:int" />
      <xs:element name="gc" nillable="true" type="xs:int" />
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="uid" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UGC" nillable="true" type="UGC" />
  <xs:complexType name="ArrayOfUIP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UIP" nillable="true" type="UIP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUIP" nillable="true" type="ArrayOfUIP" />
  <xs:complexType name="UIP">
    <xs:sequence>
      <xs:element name="i" nillable="true" type="Item" />
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="iid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="invmdate" type="xs:dateTime" />
      <xs:element name="pid" nillable="true" type="xs:int" />
      <xs:element name="px" nillable="true" type="xs:double" />
      <xs:element name="py" nillable="true" type="xs:double" />
      <xs:element name="pz" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="rid" nillable="true" type="xs:string" />
      <xs:element name="rx" nillable="true" type="xs:double" />
      <xs:element name="ry" nillable="true" type="xs:double" />
      <xs:element name="rz" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="uia" nillable="true" type="Pairs" />
      <xs:element name="uicid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="uipcdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="uis" nillable="true" type="UserItemState" />
      <xs:element minOccurs="0" name="uses" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UIP" nillable="true" type="UIP" />
  <xs:complexType name="UserItemState">
    <xs:sequence>
      <xs:element name="CommonInventoryID" type="xs:int" />
      <xs:element name="ItemID" type="xs:int" />
      <xs:element name="ItemStateID" type="xs:int" />
      <xs:element name="StateChangeDate" type="xs:dateTime" />
      <xs:element name="UserItemPositionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserItemState" nillable="true" type="UserItemState" />
  <xs:complexType name="ArrayOfUIPSR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UIPSR" nillable="true" type="UIPSR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUIPSR" nillable="true" type="ArrayOfUIPSR" />
  <xs:complexType name="UIPSR">
    <xs:complexContent mixed="false">
      <xs:extension base="UIP">
        <xs:sequence>
          <xs:element name="pix" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UIPSR" nillable="true" type="UIPSR" />
  <xs:complexType name="UIPSRS">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="ids" nillable="true" type="q7:ArrayOfint" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Inventory" minOccurs="0" name="r" type="q8:ItemPositionValidationResult" />
      <xs:element name="s" type="xs:boolean" />
      <xs:element minOccurs="0" name="uciis" nillable="true" type="ArrayOfUserItemState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UIPSRS" nillable="true" type="UIPSRS" />
  <xs:complexType name="ArrayOfUserItemState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserItemState" nillable="true" type="UserItemState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserItemState" nillable="true" type="ArrayOfUserItemState" />
  <xs:complexType name="ArrayOfUTI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UTI" nillable="true" type="UTI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUTI" nillable="true" type="ArrayOfUTI" />
  <xs:complexType name="UTI">
    <xs:sequence>
      <xs:element name="i" nillable="true" type="Item" />
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="iid" nillable="true" type="xs:int" />
      <xs:element name="s" nillable="true" type="xs:int" />
      <xs:element name="ts" nillable="true" type="xs:dateTime" />
      <xs:element name="ud" nillable="true" type="xs:dateTime" />
      <xs:element name="uicid" nillable="true" type="xs:int" />
      <xs:element name="uid" nillable="true" type="ser:guid" />
      <xs:element name="uipid" nillable="true" type="xs:int" />
      <xs:element name="usid" nillable="true" type="xs:int" />
      <xs:element name="y" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UTI" nillable="true" type="UTI" />
  <xs:complexType name="US">
    <xs:sequence>
      <xs:element name="ad" nillable="true" type="xs:dateTime" />
      <xs:element name="att" nillable="true" type="ArrayOfUSA" />
      <xs:element name="ca" nillable="true" type="xs:boolean" />
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="jid" nillable="true" type="xs:int" />
      <xs:element name="r" nillable="true" type="xs:int" />
      <xs:element name="sd" nillable="true" type="xs:dateTime" />
      <xs:element name="suid" nillable="true" type="ser:guid" />
      <xs:element name="uid" nillable="true" type="ser:guid" />
      <xs:element name="uipid" nillable="true" type="xs:int" />
      <xs:element name="urid" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="US" nillable="true" type="US" />
  <xs:complexType name="ArrayOfUSA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USA" nillable="true" type="USA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSA" nillable="true" type="ArrayOfUSA" />
  <xs:complexType name="USA">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="k" nillable="true" type="xs:string" />
      <xs:element name="usid" nillable="true" type="xs:int" />
      <xs:element name="v" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USA" nillable="true" type="USA" />
  <xs:complexType name="ArrayOfUS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="US" nillable="true" type="US" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUS" nillable="true" type="ArrayOfUS" />
  <xs:complexType name="ArrayOfJT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JT" nillable="true" type="JT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJT" nillable="true" type="ArrayOfJT" />
  <xs:complexType name="JT">
    <xs:sequence>
      <xs:element name="d" nillable="true" type="xs:string" />
      <xs:element name="fr" nillable="true" type="xs:int" />
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="n" nillable="true" type="xs:string" />
      <xs:element name="rmr" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JT" nillable="true" type="JT" />
  <xs:complexType name="UGR">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="iid" nillable="true" type="xs:int" />
      <xs:element name="k" nillable="true" type="ser:guid" />
      <xs:element name="r" nillable="true" type="ArrayOfUGRE" />
      <xs:element name="uid" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UGR" nillable="true" type="UGR" />
  <xs:complexType name="ArrayOfUGRE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UGRE" nillable="true" type="UGRE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUGRE" nillable="true" type="ArrayOfUGRE" />
  <xs:complexType name="UGRE">
    <xs:sequence>
      <xs:element name="da" nillable="true" type="xs:dateTime" />
      <xs:element name="ia" nillable="true" type="xs:boolean" />
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="ugrid" nillable="true" type="xs:int" />
      <xs:element name="uid" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UGRE" nillable="true" type="UGRE" />
  <xs:complexType name="ArrayOfUA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UA" nillable="true" type="UA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUA" nillable="true" type="ArrayOfUA" />
  <xs:complexType name="UA">
    <xs:sequence>
      <xs:element name="aid" nillable="true" type="xs:int" />
      <xs:element name="d" nillable="true" type="xs:dateTime" />
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="rid" nillable="true" type="ser:guid" />
      <xs:element name="uid" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UA" nillable="true" type="UA" />
  <xs:complexType name="ArrayOfUAT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UAT" nillable="true" type="UAT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUAT" nillable="true" type="ArrayOfUAT" />
  <xs:complexType name="UAT">
    <xs:sequence>
      <xs:element name="desc" nillable="true" type="xs:string" />
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UAT" nillable="true" type="UAT" />
  <xs:complexType name="MasteryData">
    <xs:sequence>
      <xs:element name="Lesson" nillable="true" type="ArrayOfMasteryDataLesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasteryData" nillable="true" type="MasteryData" />
  <xs:complexType name="ArrayOfMasteryDataLesson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasteryDataLesson" nillable="true" type="MasteryDataLesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasteryDataLesson" nillable="true" type="ArrayOfMasteryDataLesson" />
  <xs:complexType name="MasteryDataLesson">
    <xs:sequence>
      <xs:element name="ActivityId" nillable="true" type="xs:string" />
      <xs:element name="LessonId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasteryDataLesson" nillable="true" type="MasteryDataLesson" />
  <xs:complexType name="LessonData">
    <xs:sequence>
      <xs:element name="Lesson" nillable="true" type="ArrayOfLessonDataLesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessonData" nillable="true" type="LessonData" />
  <xs:complexType name="ArrayOfLessonDataLesson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LessonDataLesson" nillable="true" type="LessonDataLesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLessonDataLesson" nillable="true" type="ArrayOfLessonDataLesson" />
  <xs:complexType name="LessonDataLesson">
    <xs:sequence>
      <xs:element name="ActivityId" nillable="true" type="xs:string" />
      <xs:element name="LessonId" nillable="true" type="xs:string" />
      <xs:element name="Level" nillable="true" type="xs:string" />
      <xs:element name="NumQuestions" nillable="true" type="xs:string" />
      <xs:element name="SkillAddress" nillable="true" type="xs:string" />
      <xs:element name="Status" nillable="true" type="xs:string" />
      <xs:element name="SubLevelId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessonDataLesson" nillable="true" type="LessonDataLesson" />
  <xs:complexType name="ArrayOfLessonRankData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LessonRankData" nillable="true" type="LessonRankData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLessonRankData" nillable="true" type="ArrayOfLessonRankData" />
  <xs:complexType name="LessonRankData">
    <xs:sequence>
      <xs:element name="CorrectAnswers" type="xs:int" />
      <xs:element name="DisplayName" nillable="true" type="xs:string" />
      <xs:element name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessonRankData" nillable="true" type="LessonRankData" />
  <xs:complexType name="UserMissionData">
    <xs:sequence>
      <xs:element name="Mission" nillable="true" type="ArrayOfUserMissionDataMission" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="MissionComplete" nillable="true" type="q9:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMissionData" nillable="true" type="UserMissionData" />
  <xs:complexType name="ArrayOfUserMissionDataMission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserMissionDataMission" nillable="true" type="UserMissionDataMission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserMissionDataMission" nillable="true" type="ArrayOfUserMissionDataMission" />
  <xs:complexType name="UserMissionDataMission">
    <xs:sequence>
      <xs:element name="MissionId" type="xs:int" />
      <xs:element name="Step" nillable="true" type="ArrayOfUserMissionDataMissionStep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMissionDataMission" nillable="true" type="UserMissionDataMission" />
  <xs:complexType name="ArrayOfUserMissionDataMissionStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserMissionDataMissionStep" nillable="true" type="UserMissionDataMissionStep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserMissionDataMissionStep" nillable="true" type="ArrayOfUserMissionDataMissionStep" />
  <xs:complexType name="UserMissionDataMissionStep">
    <xs:sequence>
      <xs:element name="StepId" type="xs:int" />
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="TaskId" nillable="true" type="q10:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMissionDataMissionStep" nillable="true" type="UserMissionDataMissionStep" />
  <xs:complexType name="PetData">
    <xs:sequence>
      <xs:element name="Pet" nillable="true" type="ArrayOfPetDataPet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PetData" nillable="true" type="PetData" />
  <xs:complexType name="ArrayOfPetDataPet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PetDataPet" nillable="true" type="PetDataPet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPetDataPet" nillable="true" type="ArrayOfPetDataPet" />
  <xs:complexType name="PetDataPet">
    <xs:sequence>
      <xs:element name="AccessoryGeometry" nillable="true" type="xs:string" />
      <xs:element name="AccessoryTexture" nillable="true" type="xs:string" />
      <xs:element name="Dirtiness" nillable="true" type="xs:string" />
      <xs:element name="Geometry" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Texture" nillable="true" type="xs:string" />
      <xs:element name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PetDataPet" nillable="true" type="PetDataPet" />
  <xs:complexType name="ProductData">
    <xs:sequence>
      <xs:element name="Experience" type="xs:int" />
      <xs:element name="ExperienceUnused" type="xs:int" />
      <xs:element name="LastScene" nillable="true" type="xs:string" />
      <xs:element name="Level" type="xs:int" />
      <xs:element name="MaxDrawings" type="xs:int" />
      <xs:element name="MaxPhotos" type="xs:int" />
      <xs:element name="Mission" type="xs:int" />
      <xs:element name="Step" type="xs:int" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Tasks" nillable="true" type="q11:ArrayOfint" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Tutorials" nillable="true" type="q12:ArrayOfstring" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductData" nillable="true" type="ProductData" />
  <xs:complexType name="ArrayOfProductPlatform">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPlatform" nillable="true" type="ProductPlatform" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPlatform" nillable="true" type="ArrayOfProductPlatform" />
  <xs:complexType name="ProductPlatform">
    <xs:sequence>
      <xs:element name="PlatformID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductGroupID" type="xs:int" />
      <xs:element name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProviderID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPlatform" nillable="true" type="ProductPlatform" />
  <xs:complexType name="SceneData">
    <xs:sequence>
      <xs:element name="BuildSpots" nillable="true" type="ArrayOfBuildSpot" />
      <xs:element name="Modules" nillable="true" type="ArrayOfModule" />
      <xs:element name="UserSceneDataID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SceneData" nillable="true" type="SceneData" />
  <xs:complexType name="ArrayOfBuildSpot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuildSpot" nillable="true" type="BuildSpot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuildSpot" nillable="true" type="ArrayOfBuildSpot" />
  <xs:complexType name="BuildSpot">
    <xs:sequence>
      <xs:element name="Item" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildSpot" nillable="true" type="BuildSpot" />
  <xs:complexType name="ArrayOfModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Module" nillable="true" type="Module" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModule" nillable="true" type="ArrayOfModule" />
  <xs:complexType name="Module">
    <xs:sequence>
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Stars" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Module" nillable="true" type="Module" />
  <xs:complexType name="UserBadge">
    <xs:sequence>
      <xs:element name="BadgeId" nillable="true" type="ArrayOfUserBadgeComplete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBadge" nillable="true" type="UserBadge" />
  <xs:complexType name="ArrayOfUserBadgeComplete">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBadgeComplete" nillable="true" type="UserBadgeComplete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBadgeComplete" nillable="true" type="ArrayOfUserBadgeComplete" />
  <xs:complexType name="UserBadgeComplete">
    <xs:sequence>
      <xs:element name="BadgeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBadgeComplete" nillable="true" type="UserBadgeComplete" />
  <xs:complexType name="UserTreasureChestData">
    <xs:sequence>
      <xs:element name="Chest" nillable="true" type="ArrayOfUserTreasureChestDataChest" />
      <xs:element name="GroupName" nillable="true" type="xs:string" />
      <xs:element name="SceneName" nillable="true" type="xs:string" />
      <xs:element name="Time" nillable="true" type="xs:string" />
      <xs:element name="TreasureChestId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTreasureChestData" nillable="true" type="UserTreasureChestData" />
  <xs:complexType name="ArrayOfUserTreasureChestDataChest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTreasureChestDataChest" nillable="true" type="UserTreasureChestDataChest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTreasureChestDataChest" nillable="true" type="ArrayOfUserTreasureChestDataChest" />
  <xs:complexType name="UserTreasureChestDataChest">
    <xs:sequence>
      <xs:element name="Found" type="xs:boolean" />
      <xs:element name="GameCurrency" nillable="true" type="xs:int" />
      <xs:element name="GameCurrencySpecified" type="xs:boolean" />
      <xs:element name="ItemId" nillable="true" type="xs:int" />
      <xs:element name="ItemIdSpecified" type="xs:boolean" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTreasureChestDataChest" nillable="true" type="UserTreasureChestDataChest" />
  <xs:complexType name="ArrayOfTI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TI" nillable="true" type="TI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTI" nillable="true" type="ArrayOfTI" />
  <xs:complexType name="TI">
    <xs:sequence>
      <xs:element name="cd" nillable="true" type="xs:dateTime" />
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="is" type="xs:boolean" />
      <xs:element name="iu" nillable="true" type="xs:string" />
      <xs:element name="md" nillable="true" type="xs:dateTime" />
      <xs:element name="nm" nillable="true" type="xs:string" />
      <xs:element name="sl" nillable="true" type="xs:int" />
      <xs:element name="uid" type="ser:guid" />
      <xs:element name="utcid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TI" nillable="true" type="TI" />
  <xs:complexType name="ArrayOfTE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TE" nillable="true" type="TE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTE" nillable="true" type="ArrayOfTE" />
  <xs:complexType name="TE">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="px" type="xs:float" />
      <xs:element name="py" type="xs:float" />
      <xs:element name="pz" type="xs:float" />
      <xs:element name="rid" nillable="true" type="xs:string" />
      <xs:element name="rx" type="xs:float" />
      <xs:element name="ry" type="xs:float" />
      <xs:element name="rz" type="xs:double" />
      <xs:element name="utetid" type="xs:int" />
      <xs:element name="utid" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TE" nillable="true" type="TE" />
  <xs:complexType name="UT">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:int" />
      <xs:element name="n" nillable="true" type="xs:string" />
      <xs:element name="sh" nillable="true" type="xs:boolean" />
      <xs:element name="sl" nillable="true" type="xs:int" />
      <xs:element name="uid" nillable="true" type="ser:guid" />
      <xs:element name="utcid" nillable="true" type="xs:int" />
      <xs:element name="utes" nillable="true" type="ArrayOfTE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UT" nillable="true" type="UT" />
  <xs:complexType name="ArrayOfProductItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductItem" nillable="true" type="ProductItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductItem" nillable="true" type="ArrayOfProductItem" />
  <xs:complexType name="ProductItem">
    <xs:sequence>
      <xs:element name="ProductGroupId" type="xs:int" />
      <xs:element name="ProductGroupName" nillable="true" type="xs:string" />
      <xs:element name="ProductId" type="xs:int" />
      <xs:element name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductItem" nillable="true" type="ProductItem" />
  <xs:complexType name="SetNextItemStateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CICS" nillable="true" type="ArrayOfCommonInventoryConsumable" />
      <xs:element name="CIID" type="xs:int" />
      <xs:element minOccurs="0" name="OSC" type="xs:boolean" />
      <xs:element minOccurs="0" name="PGID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SID" type="xs:int" />
      <xs:element name="UID" type="ser:guid" />
      <xs:element name="UIPID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetNextItemStateRequest" nillable="true" type="SetNextItemStateRequest" />
  <xs:complexType name="ArrayOfCommonInventoryConsumable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommonInventoryConsumable" nillable="true" type="CommonInventoryConsumable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommonInventoryConsumable" nillable="true" type="ArrayOfCommonInventoryConsumable" />
  <xs:complexType name="CommonInventoryConsumable">
    <xs:sequence>
      <xs:element name="CommonInventoryID" type="xs:int" />
      <xs:element name="ItemID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonInventoryConsumable" nillable="true" type="CommonInventoryConsumable" />
  <xs:complexType name="SetNextItemStateResult">
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Inventory" minOccurs="0" name="EC" type="q13:ItemStateChangeError" />
      <xs:element minOccurs="0" name="Rewards" nillable="true" type="ArrayOfAR" />
      <xs:element name="S" type="xs:boolean" />
      <xs:element minOccurs="0" name="UIS" nillable="true" type="UserItemState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetNextItemStateResult" nillable="true" type="SetNextItemStateResult" />
  <xs:complexType name="SetSpeedUpItemRequest">
    <xs:sequence>
      <xs:element name="CIID" type="xs:int" />
      <xs:element minOccurs="0" name="CTID" nillable="true" type="xs:int" />
      <xs:element name="IID" type="xs:int" />
      <xs:element minOccurs="0" name="PGID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PID" nillable="true" type="xs:int" />
      <xs:element name="STID" type="xs:int" />
      <xs:element minOccurs="0" name="UID" type="ser:guid" />
      <xs:element minOccurs="0" name="UIPID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetSpeedUpItemRequest" nillable="true" type="SetSpeedUpItemRequest" />
  <xs:complexType name="SetSpeedUpItemResult">
    <xs:sequence>
      <xs:element name="AMT" type="xs:int" />
      <xs:element name="CIID" type="xs:int" />
      <xs:element name="S" type="xs:boolean" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KnowledgeAdventure.ContentServer.Model.Inventory" name="STA" type="q14:SetSpeedUpItemStatus" />
      <xs:element name="USES" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetSpeedUpItemResult" nillable="true" type="SetSpeedUpItemResult" />
  <xs:complexType name="DeleteProfileRequest">
    <xs:sequence>
      <xs:element name="OwnerID" type="ser:guid" />
      <xs:element name="ProductGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteProfileRequest" nillable="true" type="DeleteProfileRequest" />
  <xs:complexType name="NameValidationResponse">
    <xs:sequence>
      <xs:element name="Category" type="NameValidationResult" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NameValidationResponse" nillable="true" type="NameValidationResponse" />
  <xs:simpleType name="NameValidationResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Blocked">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotUnique">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvalidLength">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NameValidationResult" nillable="true" type="NameValidationResult" />
</xs:schema>